<span class="heading">
<a href="{{profileUrl}}">{{postAuthorName}}</a>
post has been reported for violations:
{{#if url}}
  <a href="{{linkUrl}}" class="action-link">{{postTitle}}</a>
{{else}}
  {{postTitle}}
{{/if}}
</span><br><br>

{{#if htmlBody}}
  <div class="post-body">
  {{{htmlBody}}}
  </div>
  <br>
{{/if}}

<a href="{{postUrl}}">See post</a><br><br>
