.post-red{
  background-color: #FFD3D2;
}
.post-blue{
  background-color: #D2F5FF;
}
.post-yellow{
  background-color: #FBFFD2;
}
.post-green{
  background-color: #D2FFD2;
}

.posts-item.posts-sticky {
  // width: 31%;
  display: inline-block;
  margin: 10px;
  height: 250px;
  width: 300px;
}

.posts-page .posts-item.posts-sticky {
  width: 500px;
}

div.posts-list-content-sticky {
    overflow: auto;
    white-space: nowrap;
}

.posts-list-content  {
  margin-top: 10px;
}

// div.posts-list-content-sticky a {
//     display: inline-block;
//     color: white;
//     text-align: center;
//     padding: 14px;
//     text-decoration: none;
// }

.posts-item.posts-sticky .posts-thumbnail img {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.posts-item.posts-sticky .posts-item-title-link {
  margin-left: auto;
  margin-right: auto;
}

.posts-item.posts-sticky .posts-categories,
.posts-item.posts-sticky .posts-item-comments,
.posts-item.posts-sticky .posts-commenters
{
  display: none;
}

.posts-item.posts-sticky {
    background: #FFFFFF;
    border-bottom: none;
}

.posts-page img {
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

#bnt-report-post {
  font-size: 12px;
}

.btn-post-options {
  margin-left: 25px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 10px;
}

a.share-link.action {
  display: none;
}

.modal-trigger {
  display: inline-block;
}

.social-share {
  display: inline-block;
  font-size: 20px;
}

#report-button.btn.btn-primary{
  margin-top: 10px;
}

// .posts-comments-thread {
//   text-align: center;
// }
//
// .comments-new-form textarea {
//   width: 60%;
//   margin-left: auto;
//   margin-right: auto;
// }

// .posts-item.posts-sticky .posts-item-comments {
//   display: none;
// }
//
// .posts-item.posts-sticky .posts-commenters {
//   display: none;
// }
